#IDEA
.idea
/out/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/checkstyle-idea.xml
.idea/thriftCompiler.xml
*.ipr
*.iws

#Mac
.DS_Store
.directory

#Java
*.class
*.jar

# Gradle:
.idea/gradle.xml
.idea/libraries
.gradle
build