/out/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/checkstyle-idea.xml
.idea/thriftCompiler.xml
*.ipr
*.iws
target/
.project
.classpath
.settings/
.patch
.surefire-*
.DS_Store
reports/
.directory
atlassian-ide-plugin.xml
performance*.log
.attach_pid*
hs_err_pid*
*.class
*.jar

